#cover-page {
    height: 100%;
    color: black;
}

#cover-page .top {
    width: 100%;
    margin-top: 2cm;
}

#cover-page .center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cover-page .center p {
    padding: 0 2cm;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

#cover-page .center table {
    padding-top: 1cm;
    width: 80%;
    margin: 0 auto;
}

#cover-page .center th {
    vertical-align: top;
    text-align: right;
    padding-right: 0.5cm;
}

#cover-page .center td {
    text-align: left;
    padding-left: 0.5cm;
}

#cover-page .bottom {
    width: 100%;
    position: absolute;
    bottom: 3cm;
}

#cover-page .bottom table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

#cover-page .bottom tr:first-child {
    border-bottom: solid 1px;
    text-align: center;
}

#cover-page .bottom th:first-child {
    vertical-align: top;
    text-align: right;
    padding-right: 0.5cm;
}

#cover-page .bottom td {
    text-align: center;
}

@page {
    margin: 0;
    background: url('/polarion/icons/group/sbb-headerlogo.png') no-repeat center 25%;
    background-size: contain;
}

@font-face {
    font-family: "Selawik";
    src: url("/polarion/ria/fonts/selawik/selawk.ttf");
}

@font-face {
    font-family: "Selawik";
    src: url("/polarion/ria/fonts/selawik/selawkb.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('/polarion/ria/fontawesome-6.2.0/webfonts/fa-solid-900.woff2') format('woff2'),
    url('/polarion/ria/fontawesome-6.2.0/webfonts/fa-solid-900.ttf') format('truetype');
}

@font-face {
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/polarion/ria/fontawesome-6.2.0/webfonts/fa-regular-400.woff2') format('woff2'),
    url('/polarion/ria/fontawesome-6.2.0/webfonts/fa-regular-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Font Awesome 6 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/polarion/ria/fontawesome-6.2.0/webfonts/fa-brands-400.woff2') format('woff2'),
    url('/polarion/ria/fontawesome-6.2.0/webfonts/fa-brands-400.ttf') format('truetype');
}

* {
    font-family: "Segoe UI", "Selawik", "Open Sans", Ubuntu, Arial, sans-serif !important;
    font-size: 11pt;
}
