#cover {
    height: 100%;
    color: black;
}

#top {
    width: 100%;
    margin-top: 2cm;
}

#center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center .wrapper {
    padding: 300px 200px 0 100px;
}

#center p {
    line-height: 3em;
}

#center p span {
    background-color: #DDDD00;
    font-size: 22pt;
    font-weight: bold;
    color: #FFFFFF;
    padding: .1em;
}

#bottom {
    width: 100%;
    position: absolute;
    bottom: 3cm;
}

@page {
    margin: 0;
    background: templateImage('background.jpg') no-repeat center 100%;
    background-size: contain;
}

@font-face {
    font-family: "Selawik";
    src: url("/polarion/ria/fonts/selawik/selawk.ttf");
}

@font-face {
    font-family: "Selawik";
    src: url("/polarion/ria/fonts/selawik/selawkb.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("/polarion/ria/fonts/opensans/OpenSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/polarion/ria/font-awesome-4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('/polarion/ria/font-awesome-4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('/polarion/ria/font-awesome-4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('/polarion/ria/font-awesome-4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
    url('/polarion/ria/font-awesome-4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Open Sans", Ubuntu, Arial, sans-serif !important;
    font-size: 11pt;
}